.outer-container {
    max-width: 80vw;
    padding: 2rem;
}
.inner-container {
    background-color: #fff;
    padding: 2rem 2.5rem;
    border-radius: 20px;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.title h1 {
    font-size: 1.8rem;
    font-weight: 700;
}
.title button {
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
}
.students-about {
    border-radius: 5px;
    border: 0.1rem solid purple;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}
.students-detail {
    max-height: fit-content;
    background: #fff;
    text-align: center;
}
.students-detail img {
    height: 33%;
    width: 30%;
    margin: 1.3rem 0rem 0.8rem 0rem;
    border-radius: 50%;
}
.students-detail h3 {
    font-size: 1.4rem;
    font-weight: bolder;
}
.achievements {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.achieved {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.achieved h2 {
    font-size: 1.5rem;
    color: purple;
}
.achieved p {
    font-size: 1rem;
    color: rgb(67, 66, 66);
}
.students-contr {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}